:host {
    position: relative;
    cursor: pointer;
}

:host > img {
    display: none;
}

:host:hover > img {
  display: block;
  position: absolute;
  z-index: 10;
}

:host-context(.card-on-left):hover > img {
    right: 0;
}

:host-context(.card-on-top):hover > img {
    bottom: -200px;
}

.name {
    display: flex;
    align-items: center;
}

.rarity {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin-right: 2px;
}
.uncommon {
    background-color: grey;
}
.common {
    background-color: black;
}
.rare {
    background-color: yellow;
}
.mythic {
    background-color: orangered;
}

.special {
    font-size: 10px;
    font-style: italic;
}