<a [href]="dashboardLink">Link to stats</a>
<table class="cards">
  <thead>
    <tr>
      <th>CCM</th>
      <th class="white">White</th>
      <th class="blue">Blue</th>
      <th class="black">Black</th>
      <th class="red">Red</th>
      <th class="green">Green</th>
      <th class="multi">Multi</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor [ngForOf]="data" let-d>
      <tr>
        <td [attr.rowspan]="d.max.length + 1" class="cmc">{{d.cmc}}</td>
      </tr>
      <tr *ngFor="let i of d.max;let l = last" [class.border-top]="i === 0" [class.last]="l">
        <td class="white">
          <div *ngIf="d.colors.White && d.colors.White[i]">
            <span class="name">{{d.colors.White[i].name}}</span>
            <span class="cost">{{d.colors.White[i].manaCost}}</span>
          </div>
        </td>
        <td class="blue">
          <div *ngIf="d.colors.Blue && d.colors.Blue[i]">
            <span class="name">{{d.colors.Blue[i].name}}</span>
            <span class="cost">{{d.colors.Blue[i].manaCost}}</span>
          </div>
        </td>
        <td class="black">
          <div *ngIf="d.colors.Black && d.colors.Black[i]">
            <span class="name">{{d.colors.Black[i].name}}</span>
            <span class="cost">{{d.colors.Black[i].manaCost}}</span>
          </div>
        </td>
        <td class="red">
          <div *ngIf="d.colors.Red && d.colors.Red[i]">
            <span class="name">{{d.colors.Red[i].name}}</span>
            <span class="cost">{{d.colors.Red[i].manaCost}}</span>
          </div>
        </td>
        <td class="green">
          <div *ngIf="d.colors.Green && d.colors.Green[i]">
            <span class="name">{{d.colors.Green[i].name}}</span>
            <span class="cost">{{d.colors.Green[i].manaCost}}</span>
          </div>
        </td>
        <td class="multi">
          <div *ngIf="d.colors.Multicolore && d.colors.Multicolore[i]">
            <span class="name">{{d.colors.Multicolore[i].name}}</span>
            <span class="cost">{{d.colors.Multicolore[i].manaCost}}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
