<div class="title">
  <span>All instants and flash creatures in {{set.name}}</span>
  <img [src]="set.icon_svg_uri">
</div>
<div *ngIf="set.code === 'xln'" class="set">
  <span>Change for</span>
  <img [src]="rix.icon_svg_uri" (click)=changeSet(rix)>
</div>
<div *ngIf="set.code === 'rix'" class="set">
  <span>Change for</span>
  <img [src]="xln.icon_svg_uri" (click)=changeSet(xln)>
</div>
<table class="cards">
  <thead>
    <tr>
      <th>CCM</th>
      <th *ngFor="let column of columns" colspan="2" class="column.className">{{column.name}}</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor [ngForOf]="data" let-d>
      <tr>
        <td [attr.rowspan]="d.max.length + 1" class="cmc">{{d.cmc}}</td>
      </tr>
      <tr *ngFor="let i of d.max;let l = last" [class.border-top]="i === 0" [class.last]="l">
        <ng-template ngFor let-column [ngForOf]="columns">
            <td class="cost">
              <span *ngIf="d.colors[column.name] && d.colors[column.name][i]">
                  <i *ngFor="let cost of d.colors[column.name][i].costs" [ngClass]="cost"></i>
              </span>
            </td>
            <td class="name" [class]="'name ' + column.className">
                <card [card]="d.colors[column.name][i]" *ngIf="d.colors[column.name] && d.colors[column.name][i]"></card>
                <i *ngIf="d.colors[column.name] && d.colors[column.name][i] && d.colors[column.name][i].effect">({{d.colors[column.name][i].effect}})</i>
            </td>
        </ng-template>
    </ng-template>
  </tbody>
</table>
<!-- <a [href]="dashboardLink">Link to stats</a> -->