<h1>All instants, flash creatures and cycling with effects in AKH</h1>
<table class="cards">
  <thead>
    <tr>
      <th>CCM</th>
      <th colspan="2" class="white">White</th>
      <th colspan="2" class="blue">Blue</th>
      <th colspan="2" class="black">Black</th>
      <th colspan="2" class="red">Red</th>
      <th colspan="2" class="green">Green</th>
      <th colspan="2" class="multi">Multi</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor [ngForOf]="data" let-d>
      <tr>
        <td [attr.rowspan]="d.max.length + 1" class="cmc">{{d.cmc}}</td>
      </tr>
      <tr *ngFor="let i of d.max;let l = last" [class.border-top]="i === 0" [class.last]="l">
        <td class="cost">
          <span *ngIf="d.colors.White && d.colors.White[i]">
              <i *ngFor="let cost of d.colors.White[i].costs" [ngClass]="cost"></i>
          </span>
        </td>
        <td class="white name">
            <span *ngIf="d.colors.White && d.colors.White[i]" >{{d.colors.White[i].name}}</span>
            <br/><i *ngIf="d.colors.White && d.colors.White[i] && d.colors.White[i].effect">({{d.colors.White[i].effect}})</i>
        </td>
        <td class="cost">
          <span *ngIf="d.colors.Blue && d.colors.Blue[i]">
            <i *ngFor="let cost of d.colors.Blue[i].costs" [ngClass]="cost"></i>
          </span>
        </td>
        <td class="blue name">
          <span  *ngIf="d.colors.Blue && d.colors.Blue[i]">{{d.colors.Blue[i].name}}</span>
          <br><i *ngIf="d.colors.Blue && d.colors.Blue[i] && d.colors.Blue[i].effect">({{d.colors.Blue[i].effect}})</i>
        </td>
        <td class="cost">
           <span *ngIf="d.colors.Black && d.colors.Black[i]">
              <i *ngFor="let cost of d.colors.Black[i].costs" [ngClass]="cost"></i>
            </span>
        </td>
        <td class="black name">
          <span *ngIf="d.colors.Black && d.colors.Black[i]">{{d.colors.Black[i].name}}</span>
          <br><i *ngIf="d.colors.Black && d.colors.Black[i] && d.colors.Black[i].effect">({{d.colors.Black[i].effect}})</i>
        </td>
        <td class="cost">
          <span *ngIf="d.colors.Red && d.colors.Red[i]">
              <i *ngFor="let cost of d.colors.Red[i].costs" [ngClass]="cost"></i>
            </span>
        </td>
        <td class="red name">
          <span *ngIf="d.colors.Red && d.colors.Red[i]" >{{d.colors.Red[i].name}}</span>
          <br><i *ngIf="d.colors.Red && d.colors.Red[i] && d.colors.Red[i].effect">({{d.colors.Red[i].effect}})</i>
        </td>
        <td class="cost">
          <span *ngIf="d.colors.Green && d.colors.Green[i]">
              <i *ngFor="let cost of d.colors.Green[i].costs" [ngClass]="cost"></i>
            </span>
        </td>
        <td class="green name">
          <span *ngIf="d.colors.Green && d.colors.Green[i]" >{{d.colors.Green[i].name}}</span>
          <br><i *ngIf="d.colors.Green && d.colors.Green[i] && d.colors.Green[i].effect">({{d.colors.Green[i].effect}})</i>
        </td>
        <td class="cost">
          <span *ngIf="d.colors.Multicolore && d.colors.Multicolore[i]">
              <i *ngFor="let cost of d.colors.Multicolore[i].costs" [ngClass]="cost"></i>
            </span>
        </td>
        <td class="multi name">
          <span *ngIf="d.colors.Multicolore && d.colors.Multicolore[i]" >{{d.colors.Multicolore[i].name}}</span>
          <br><i *ngIf="d.colors.Multicolore && d.colors.Multicolore[i] && d.colors.Multicolore[i].effect">({{d.colors.Multicolore[i].effect}})</i>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
<a [href]="dashboardLink">Link to stats</a>