.cards {
    background: white;
}
.white {
    color: black;
}
.blue {
    color: black;
}
.black {
    color: black;
}
.red {
    color: black;
}
.green {
    color: black;
}
.multi {
    color: black;
}
.border-top {
    border-top: 1px solid black;
}

td.name {
    padding-left: 0;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.cost {
    padding-right: 10;
    text-align: right;
}

tr.last > td {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

a {
    margin-top: 10px;
    float: right;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}