.cards {
    background: white;
}
.white {
    color: black;
}
.blue {
    color: black;
}
.black {
    color: black;
}
.red {
    color: black;
}
.green {
    color: black;
}
.multi {
    color: black;
}
.border-top {
    border-top: 1px solid black;
}

td {
    padding: 5px;
}

tr.last > td {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}